body {
        font-family: "Lucida Grande", sans-serif;
        background: black;
        color: white;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}

p {
    font-size: 24px;
    padding-top: 20px;
}

header {
    text-align: center;
}

div {
    min-height: 150px;
    padding: 25px;
}

img {
    width: 525px;
    height: auto;
    text-align: center;
}

#red {
    background: #ff0101;
    text-align: right;
}

#blue {
    background: #0101ff;
    text-align: left;
}

#yellow {
    background: #ffff03;
    text-align: right;

}

#yellow h2, #yellow p {
    color: black;

}

#yellow h2 {
    text-shadow: 5px 5px 2px #c7e2c7;   
}

#green {
    background: #017501;
    text-align: left;
}

footer {
    text-align: right;
    padding: 0px 10px 10px 0px;
}